<!DOCTYPE html>
<html lang="vi">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>
    
    <main class="main-content">
        <section class = "list-container">
            <div class="basic-info">
                <ul class="top-list">
                    <h1>Lê Đình Thanh</h1>
                    <ul>
                            <li><i class="fa fa-code" aria-hidden="true" style="color:cornflowerblue"></i> Mã cán bộ: 5</li>
                            <li>Chức vụ: Giảng viên</li>
                            <li>Bộ môn: Phòng thí nghiệm an toàn thông tin</li>
                            <li>Học hàm, học vị: TS</li>
                            <li>Số điện thoại: 0987257504</li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true" style="color:cornflowerblue" ></i> VNU email: thanhld@vnu.edu.vn</li>
                            <li>Email khác: thanhld.vnuh@gmail.com</li>
                            <li>Website: http://http://uet.vnu.edu.vn/~thanhld</li>
                            <li>Địa chỉ: Phòng 413-E3</li>
                        </ul>
                </ul>
                <ul>
                    <img src="/src/logo/oie_transparent.png" alt="logo">
                    <ul>
                        <button><i class="fa fa-camera-retro fa-lg"></i> Cập nhật ảnh</button>
                        <button>Xóa ảnh</button>
                    </ul>
                </ul>
            </div>

            <div class="research-field">
                <ul>
                    <h1>Chủ đề nghiên cứu</h1>
                    <ul>
                        <li>An toàn thông tin</li>
                        <li>Phát triển ứng dụng web</li>
                        <li>Mạng cảm biến khôn dây</li>
                    </ul>
                </ul>
                <ul>
                    <button>Chỉnh sửa</button>
                </ul>
            </div>

            <div>
                <ul>
                    <h1>Lĩnh vực quan tâm</h1>
                    <ul>
                        <li>Network security</li>
                        <li>Web application security</li>
                        <li>Web protocol security</li>
                    </ul>
                </ul>
                <ul>
                    <button>Chỉnh sửa</button>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>