<!DOCTYPE html>
<html lang="vi">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>
    <script type="text/javascript">
        function returnBlank(item){
            if(item == null){
                return "";
            }else{
                return item;
            }
        }
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;
            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };
        var isRelease = false;
        var staff_id = getUrlParameter("id");
         $(document).ready(()=>{
            loadBasicInfoAndInterestedField();
         });
        function loadBasicInfoAndInterestedField(){
            $.ajax({
                url: 'profile/'+staff_id,
                type: 'GET',
                dataType: 'json',
                success: (data) =>{
                    document.getElementById("full_name").innerHTML = returnBlank(data["full_name"]);
                    document.getElementById("staff_id").innerHTML = staff_id;
                    document.getElementById("staff_type").innerHTML = returnBlank(data["staff_type"]);
                    document.getElementById("address").innerHTML = returnBlank(data["address"]);
                    document.getElementById("degree_level").innerHTML = returnBlank(data["degree_level"]);
                    document.getElementById("phone_number").innerHTML = returnBlank(data["phone_number"]);
                    document.getElementById("vnu_email").innerHTML = returnBlank(data["vnu_email"]);
                    document.getElementById("other_email").innerHTML = returnBlank(data["other_email"]);
                    document.getElementById("website").innerHTML = returnBlank(data["website"]);
                    document.getElementById("staff_address").innerHTML = returnBlank(data["address"]);
                    document.getElementById("interested-field-editor").value = returnBlank(data['text_area']);

                }
            });
        }
        function editBasicInfo(id){
            document.getElementById("div-ntf").innerHTML = "<strong id='notification'></strong>";
            document.getElementById("notification").style.color ="green";
            document.getElementById("notification").innerHTML = 'ENTER để "Lưu"/ ESC để "Huỷ" thay đổi';
            $("#notification").fadeOut(5000, function() {
                $(this).css({
                    "visibility": "hidden",
                    "display": "block"
                });
            });

            let originVal = document.getElementById(id).innerHTML;
            document.getElementById(id).innerHTML = "<input type='text' id='"+ id +"_text' value='"+originVal+"'>";
            // if(id=="website"){
            //     document.getElementById(id).getAttribute("href").value = "javascript:void(0)";
            //     document.getElementById(id).innerHTML = "<input type='text' id='"+ id +"_text' value='"+originVal+"'>";
            // }
            document.getElementById(id+"_text").addEventListener("keydown",function(e){
                if(e.key=="Enter"){
                    saveBasicInfo(id);
                } else if(e.key=="Esc"||e.key=="Escape"){
                    // "Esc": // IE/Edge specific value
                    cancelBasicInfo(id);
                }
            });
        }
        function saveBasicInfo(id){
            let staff_id= document.getElementById("staff_id").innerHTML; 
            let originVal= document.getElementById(id+"_text").getAttribute("value");
            let newVal = document.getElementById(id+"_text").value;

            console.log("origin: " + originVal, "new: "+ newVal);
            document.getElementById(id).innerHTML=newVal;

            if(id=="phone_number"){
                $.ajax({
                    type:'POST',
                    url:'profile/' + staff_id + 'editInfo',
                    dataType: 'json',
                    data:{
                        staff_id: staff_id,
                        phone_number: newVal
                    },
                    success:(response) => {
                        document.getElementById("div-ntf").innerHTML = "<strong id='notification'></strong>";
                        if(response.message=="success"){
                            document.getElementById("notification").style.color ="green";
                            document.getElementById("notification").innerHTML = "Sửa thành công";
                        } else {
                            document.getElementById("notification").style.color ="red";
                            document.getElementById("notification").innerHTML = response.message;
                            document.getElementById(id).innerHTML = originVal;
                        }
                        $("#notification").fadeOut(3000, function() {
                            $(this).css({
                                "visibility": "hidden",
                                "display": "block"
                            });
                        });
                    }
                });
            } else if (id=="vnu_email"){
                $.ajax({
                    type:'POST',
                    url:'profile/' + staff_id + 'editInfo',
                    dataType: 'json',
                    data:{
                        staff_id: staff_id,
                        vnu_email: newVal
                    },
                    success:(response) => {
                        document.getElementById("div-ntf").innerHTML = "<strong id='notification'></strong>";
                        if(response.message=="success"){
                            document.getElementById("notification").style.color ="green";
                            document.getElementById("notification").innerHTML = "Sửa thành công";
                        } else {
                            document.getElementById("notification").style.color ="red";
                            document.getElementById("notification").innerHTML = response.message;
                            document.getElementById(id).innerHTML = originVal;
                        }
                        $("#notification").fadeOut(3000, function() {
                            $(this).css({
                                "visibility": "hidden",
                                "display": "block"
                            });
                        });
                    }
                });
            } else if (id=="other_email"){
                $.ajax({
                    type:'POST',
                    url:'profile/' + staff_id + 'editInfo',
                    dataType: 'json',
                    data:{
                        staff_id: staff_id,
                        other_email: newVal
                    },
                    success:(response) => {
                        document.getElementById("div-ntf").innerHTML = "<strong id='notification'></strong>";
                        if(response.message=="success"){
                            document.getElementById("notification").style.color ="green";
                            document.getElementById("notification").innerHTML = "Sửa thành công";
                        } else {
                            document.getElementById("notification").style.color ="red";
                            document.getElementById("notification").innerHTML = response.message;
                            document.getElementById(id).innerHTML = originVal;
                        }
                        $("#notification").fadeOut(3000, function() {
                            $(this).css({
                                "visibility": "hidden",
                                "display": "block"
                            });
                        });
                    }
                });
            } else if (id=="website") {
                $.ajax({
                    type:'POST',
                    url:'profile/' + staff_id + 'editInfo',
                    dataType: 'json',
                    data:{
                        staff_id: staff_id,
                        website: newVal
                    },
                    success:(response) => {
                        document.getElementById("div-ntf").innerHTML = "<strong id='notification'></strong>";
                        if(response.message=="success"){
                            //document.getElementById("website").getAttribute("href") = newVal;
                            document.getElementById("notification").style.color ="green";
                            document.getElementById("notification").innerHTML = "Sửa thành công";
                        } else {
                            document.getElementById("notification").style.color ="red";
                            document.getElementById("notification").innerHTML = response.message;
                            document.getElementById(id).innerHTML = originVal;
                        }
                        $("#notification").fadeOut(3000, function() {
                            $(this).css({
                                "visibility": "hidden",
                                "display": "block"
                            });
                        });
                    }
                });
            } else if (id=="staff_address"){
                $.ajax({
                    type:'POST',
                    url:'profile/' + staff_id + 'editInfo',
                    dataType: 'json',
                    data:{
                        staff_id: staff_id,
                        staff_address: newVal
                    },
                    success:(response) => {
                        document.getElementById("div-ntf").innerHTML = "<strong id='notification'></strong>";
                        if(response.message=="success"){
                            document.getElementById("notification").style.color ="green";
                            document.getElementById("notification").innerHTML = "Sửa thành công";
                        } else {
                            document.getElementById("notification").style.color ="red";
                            document.getElementById("notification").innerHTML = response.message;
                            document.getElementById(id).innerHTML = originVal;
                        }
                        $("#notification").fadeOut(3000, function() {
                            $(this).css({
                                "visibility": "hidden",
                                "display": "block"
                            });
                        });
                    }
                });
            }
        }
        function cancelBasicInfo(id){
            let originVal= document.getElementById(id+"_text").getAttribute("value");
            document.getElementById(id).innerHTML = originVal;
        }


        function editInterestedField(id){
            let originVal = document.getElementById(id).value;
            document.getElementById(id).removeAttribute("disabled");

            document.getElementById("div-ntf").innerHTML = "<strong id='notification'></strong>";
            document.getElementById("notification").style.color ="green";
            document.getElementById("notification").innerHTML = 'ENTER để "Xuống dòng"/  CTR ENTER để "Lưu" /ESC để "Huỷ" thay đổi';
            $("#notification").fadeOut(8000, function() {
                $(this).css({
                    "visibility": "hidden",
                    "display": "block"
                });
            });

            document.getElementById(id).addEventListener("keydown",function(e){
                if(e.which == 13 && e.ctrlKey){
                    document.getElementById(id).setAttribute("disabled","true");
                    saveInterestedField(id,originVal);

                    /* prevent handle twice submit */
                    event.preventDefault();
                } else if(e.key=="Esc"||e.key=="Escape"){
                    // "Esc": // IE/Edge specific value
                    cancelInterestedField(id,originVal);
                } else if(e.key=="Enter"){
                    // &#10;
                    //document.getElementById(id).insertAdjacentHTML("beforeend","&#10");
                    e.stopPropagation();
                }
            });
        }

        function saveInterestedField(id,originVal){
            console.log("interested field save");
            let staff_id= document.getElementById("staff_id").innerHTML; 
            let newVal = document.getElementById(id).value;
            $.ajax({
                type:'POST',
                url:'profile/' + staff_id + '/editInterestedField',
                dataType: 'json',
                data:{
                    staff_id: staff_id,
                    text_area: newVal
                },
                success:(response) => {
                    document.getElementById("div-ntf").innerHTML = "<strong id='notification'></strong>";
                    if(response.message=="success"){
                        document.getElementById("notification").style.color ="green";
                        document.getElementById("notification").innerHTML = "Sửa thành công";
                    } else {
                        document.getElementById("notification").style.color ="red";
                        document.getElementById("notification").innerHTML = response.message;
                        document.getElementById(id).innerHTML = originVal;
                    }
                    $("#notification").fadeOut(3000, function() {
                        $(this).css({
                            "visibility": "hidden",
                            "display": "block"
                        });
                    });
                }
            });
        }
        
        function cancelInterestedField(id,originVal){
            // console.log("interested field cancel");
            console.log(originVal);
            document.getElementById(id).value = originVal;
            document.getElementById(id).setAttribute("disabled","true");
        }
    </script>
    <main class="main-content">
        <section class = "list-container">
            <div class="basic-info">
                <ul class="first-ul">
                    <h1 id="full_name">Lê Đình Thanh</h1>
                    <ul>

                        <span>
                            <i class="fa fa-address-card" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            Mã cán bộ:&nbsp
                            <!--&nbsp make a space-->
                            <li id = "staff_id">
                                9
                            </li>
                            &nbsp
                        </span>
                        <span>
                            <i class="fa fa-briefcase" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            Chức vụ:&nbsp
                            <!--&nbsp make a space-->
                            <li id="staff_type">
                                Giảng viên
                            </li>
                            &nbsp
                        </span>
                        <span>
                            <i class="fa fa-book" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            Bộ môn:&nbsp
                            <!--&nbsp make a space-->
                            <li id="address">
                                Phòng thí nghiệm an toàn thông tin
                            </li>
                            &nbsp
                        </span>

                        <span>
                            <i class="fa fa-id-card-o" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            Học hàm, học vị:&nbsp
                            <!--&nbsp make a space-->
                            <li id="degree_level">
                                Tiến sĩ
                            </li>
                            &nbsp
                        </span>
                        <span>
                            <i class="fa fa-phone-square" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            Số điện thoại:&nbsp
                            <!--&nbsp make a space-->
                            <li id="phone_number">
                                0987257504
                            </li>
                            &nbsp
                            <i class="fa fa-pencil-square-o" aria-hidden="true" onclick='editBasicInfo("phone_number")'></i>
                        </span>
                        <span>
                            <i class="fa fa-envelope" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            VNU email:&nbsp
                            <!--&nbsp make a space-->
                            <li id="vnu_email">
                                thanhld@vnu.edu.vn
                            </li>
                            &nbsp
                            <i class="fa fa-pencil-square-o" aria-hidden="true" onclick='editBasicInfo("vnu_email")'></i>
                        </span>
                        <span>
                            <i class="fa fa-envelope-o" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            Email khác:&nbsp
                            <!--&nbsp make a space-->
                            <li id="other_email">
                                thanhld.vnuh@gmail.com
                            </li>
                            &nbsp
                            <i class="fa fa-pencil-square-o" aria-hidden="true" onclick='editBasicInfo("other_email")'></i>
                        </span>
                        <span>
                            <i class="fa fa-globe" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            Website:&nbsp
                            <!--&nbsp make a space-->
                            <li id="website"> 
                                <!-- <a href="http://uet.vnu.edu.vn/~thanhld/" id="website">
                                    http://uet.vnu.edu.vn/~thanhld/
                                </a> -->
                                http://uet.vnu.edu.vn/~thanhld/
                            </li>
                            &nbsp
                            <i class="fa fa-pencil-square-o" aria-hidden="true" onclick='editBasicInfo("website")'></i>
                        </span>
                        <span>
                            <i class="fa fa-university" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            Địa chỉ:&nbsp
                            <!--&nbsp make a space-->
                            <li id="staff_address">
                                Phòng 413-E3
                            </li>
                            &nbsp
                            <i class="fa fa-pencil-square-o" aria-hidden="true" onclick='editBasicInfo("staff_address")'></i>
                        </span>
                    </ul>
                </ul>
                <ul class="last-ul">
                    <img src="/src/defaultAvatar.png" alt="Avatar">
                    <ul>
                        <button><i class="fa fa-camera-retro fa-lg"></i> Cập nhật ảnh</button>
                        <button>Xóa ảnh</button>
                    </ul>
                </ul>
            </div>

            <div class=interested-field>
                <ul>
                    <h1>Chủ đề nghiên cứu</h1>
                    <ul class = "main-ul-content">
                        <span>
                            <textarea id = "interested-field-editor" style="min-height: 100px; min-width: 200px" disabled>
                            </textarea>
                        </span>
                    </ul>
                </ul>
                <ul>
                    <button onclick='editInterestedField("interested-field-editor");'>Chỉnh sửa</button>
                </ul>
            </div>

            <div class="research-field">
                <ul>
                    <h1>Lĩnh vực quan tâm</h1>
                    <ul>
                        <li>Network security</li>
                        <li>Web application security</li>
                        <li>Web protocol security</li>
                    </ul>
                </ul>
                <ul>
                    <button>Chỉnh sửa</button>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
