<!DOCTYPE html>
<html lang="vi">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>
    <script type="text/javascript">
        var isRelease = false;
        var id;
        function returnBlank(item){
            if(item == null){
                return "";
            }else{
                return item;
            }
        }
        $(document).ready(()=>{
            $.ajax({
                url: 'profle',
                type: 'GET',
                dataType: 'json',
                success: (data) =>{
                }
            });
        });
    </script>
    <main class="main-content">
        <section class = "list-container">
            <div class="basic-info">
                <ul class="first-ul">
                    <h1>Lê Đình Thanh</h1>
                    <ul>
                        <span>
                            <i class="fa fa-briefcase" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i> 
                            Chức vụ:&nbsp
                            <!--&nbsp make a space-->
                            <li>
                                Giảng viên
                            </li>
                            &nbsp
                        </span>
                        <span>
                            <i class="fa fa-book" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i> 
                            Bộ môn:&nbsp
                            <!--&nbsp make a space-->
                            <li>
                                Phòng thí nghiệm an toàn thông tin
                            </li>
                            &nbsp
                        </span>

                        <span>
                            <i class="fa fa-id-card-o" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i> 
                            Học hàm, học vị:&nbsp
                            <!--&nbsp make a space-->
                            <li>
                                Tiến sĩ
                            </li>
                            &nbsp
                        </span>
                        <span>
                            <i class="fa fa-phone-square" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i> 
                            Số điện thoại:&nbsp
                            <!--&nbsp make a space-->
                            <li>
                                0987257504
                            </li>
                            &nbsp
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </span>
                        <span>
                            <i class="fa fa-envelope" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i> 
                            VNU email:&nbsp
                            <!--&nbsp make a space-->
                            <li>
                                thanhld@vnu.edu.vn
                            </li>
                            &nbsp
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </span>
                        <span>
                            <i class="fa fa-envelope-o" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i> 
                            Email khác:&nbsp
                            <!--&nbsp make a space-->
                            <li>
                                thanhld.vnuh@gmail.com
                            </li>
                            &nbsp
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </span>
                        <span>
                            <i class="fa fa-globe" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i> 
                            Website:&nbsp
                            <!--&nbsp make a space-->
                            <li>
                                http://http://uet.vnu.edu.vn/~thanhld
                            </li>
                            &nbsp
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </span>
                        <span>
                            <i class="fa fa-address-card" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i> 
                            Địa chỉ:&nbsp
                            <!--&nbsp make a space-->
                            <li>
                                Phòng 413-E3
                            </li>
                            &nbsp
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </span>
                    </ul>
                </ul>
                <ul class="last-ul">
                    <img src="/src/defaultAvatar.png" alt="Avatar">
                    <ul>
                        <button><i class="fa fa-camera-retro fa-lg"></i> Cập nhật ảnh</button>
                        <button>Xóa ảnh</button>
                    </ul>
                </ul>
            </div>

            <div class="research-field">
                <ul>
                    <h1>Chủ đề nghiên cứu</h1>
                    <ul>
                        <li>An toàn thông tin</li>
                        <li>Phát triển ứng dụng web</li>
                        <li>Mạng cảm biến khôn dây</li>
                    </ul>
                </ul>
                <ul>
                    <button>Chỉnh sửa</button>
                </ul>
            </div>

            <div>
                <ul>
                    <h1>Lĩnh vực quan tâm</h1>
                    <ul>
                        <li>Network security</li>
                        <li>Web application security</li>
                        <li>Web protocol security</li>
                    </ul>
                </ul>
                <ul>
                    <button>Chỉnh sửa</button>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>