<!DOCTYPE html>
<html lang="vi">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>
    
    <main class="main-content">
        <section>
                <div class="login">
                        <form>
                            <label for ="user">Username</label>
                            <input type = "text" name="user" placeholder="Username" id="user">
                            <label for="passwrd">Password</label>
                            <input type="password" name="passwrd" placeholder="Password" id="passwrd">
                            <br>
                            <input type="reset" value="Reset">
                            <input type="submit" value="Login">
                        </form>
                    </div>
        </section>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>