<!DOCTYPE html>
<html lang="vi">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>
    <main class="main-content">
        <section id="login-section">

            <div class = "login-div">
                <form class="login" action="/login" method="post">
                    <label for="user">Username</label>
                    <input type="text" name="username" placeholder="Enter Username" id="user">
                    <label for="passwrd">Password</label>
                    <input type="password" name="password" placeholder="Enter Password" id="password">
                    <% if(message.length > 0) { %>
                     <div style='color:red'><%- message %></div>
                    <% } %>
                    <input type="submit" value="Login">
                </form>
            </div>
        </section>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
