<!DOCTYPE html>
<html lang="vi">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>
    
    <main class="main-content">
      <section>
        <div>
          <h1>Cán bộ</h1>
          <h1>
            <button>Thêm mới </button>
            <button>Thêm từ excel </button>
          </h1>
        </div>
        <div style="overflow-x:auto;" class="unit-table-content">
          <table id='table-offA'>
            <tr class="title">
              <th>Thứ tự</th>
              <th>Mã cán bộ</th>
              <th>Họ và tên</th>
              <th>Tài khoản</th>
              <th>VNU email</th>
              <th>Loại cán bộ</th>
              <th>Học vị</th>
              <th>Đơn vị công tác</th>
              <th>Thao tác</th>
            </tr>
            <div class = "table-data">
              <tr>
                <td>temp</td>
                <td>temp</td>
                <td>temp</td>
                <td>temp</td>
                <td>temp</td>
                <td>temp</td>
                <td>temp</td>
                <td>temp</td>
                <td>
                    <button>Sửa</button>
                    <button>Xoá</button>
                </td>
              </tr>
              <tr>
                <td>temp</td>
                <td>temp</td>
                <td>temp</td>
                <td>temp</td>
                <td>temp</td>
                <td>temp</td>
                <td>temp</td>
                <td>temp</td>
                <td>
                    <button>Sửa</button>
                    <button>Xoá</button>
                </td>
              </tr>
            </div>
          </table>
        </div>
      </section>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>