<!DOCTYPE html>
<html lang="vi">
<head>
    <% include ../partials/head %>

    <!-- search box  -->
    <style>

    input[type=text] {
          width: 40%;
          padding: 10px 15px;
          margin: 8px 0;
          box-sizing: border-box;
          border: 3px solid #ccc;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          outline: none;
    }
    input[type=text]:focus {
        border: 3px solid #555;
    }

    .buttonUpdate {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    </style>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <br />
        <div id="search_box">
            <input type="text" class="form-control input-sm" placeholder="Tìm kiếm lĩnh vực" id="search_field" name="searchText"/>
        </div>
        <button class="buttonUpdate" id="btn_updateDB">Cập nhật</button>
        <br />
        <div id="research_tree"></div>
        <div id="list"></div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>

<!--CSS-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />


<!--JS-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<script>
    $.jstree.defaults.core.themes.variant = "medium";
    $(document).ready(function () {

        renderTree();

        /*$('#research_tree').on('changed.jstree', (e, data) => {
            var selectedId = [];
            for(var i = 0; i < data.selected.length; i++) {
                selectedId.push(data.instance.get_node(data.selected[i]).id);
            }
            $('#btn_updateDB').on("click", function() {
                //updateCheckedFields(selectedId);
                var checked = $('#research_tree').jstree("get_checked",null,true);
                console.log("Updated!");
                updateCheckedFields(checked);
            });
        });*/

        $('#btn_updateDB').on("click", function() {
                //updateCheckedFields(selectedId);
                var checked = $('#research_tree').jstree("get_checked",null,true);
                console.log("Updated!");
                updateCheckedFields(checked);
        });
    });

    function renderTree(jsondata) {
        $('#research_tree').jstree({
            "core": {
                'data': {
                    'url': 'research',
                    'type': 'GET',
                    'dataType' : 'json',
                    'data' : (node) => {
                        return { 'id' : node.id };
                    }
                },
                'animation': 150
            },
            "multiple": true,
            "plugins": ["search", "checkbox"],
            "search": {
                "case_sensitive": false,
                "show_only_matches": true
            }
        }).bind("loaded.jstree", (event, data) => {
            $(this).jstree("open_all");
        });
    }

    function updateCheckedFields(selected) {
        $.ajax({
            url: '/lecturer_interests',
            type: 'POST',
            dataType: 'json',
            data: {
                selectedFields: selected
            },
            success: (response) => {
            }
        })
    }

    $( "#search_field" ).keyup(function() {
           var text = $(this).val();
           search(text);
    });

    function search(text) {
        $('#research_tree').jstree(true).search(text);
    }

</script>
