<!DOCTYPE html>
<html lang="vi">
<head>
    <% include ../partials/head %>
</head>
<script type="text/javascript">

  $(document).ready(()=>{
    $.ajax({
        url: 'units',
        type: 'GET',
        dataType: 'json',
        success: (data) =>{
          var x = ' <thead> <tr class="title">\
                <th>Thứ tự</th>\
                <th>Tên đơn vị</th>\
                <th>Loại đơn vị</th>\
                <th>Địa chỉ</th>\
                <th>Điện thoại</th>\
                <th>Website </th>\
                <th>Thao tác</th>\
              </tr> </thead>';
          console.log('ajax success!',data);
          var nextIndexRow=document.getElementById("table-u").lastChild.childNodes.length;
          /*console.log(document.getElementById("table-u").lastChild.childNodes)*/
          x += '<tbody><tr id="new_row">' + '<td id = "insert_row_o">'+ nextIndexRow + '</td>';
          x+= '<td id = "insert_row"><input type="text" id="new_unit" required=""></td>\
            <td><input type="text" id="new_unitType" required=""></td>\
            <td><input type="text" id="new_add" required=""></td>\
            <td><input type="text" id="new_phone" required=""></td>\
            <td><input type="text" id="new_webAdd" required=""></td>\
            <td><input type="button" value="Thêm mới" onclick="insert_row();"></td>\
          </tr>';
          for(i in data){
            var id = i;
            nextIndexRow++;
            x += '<tr id="row'+id+'">'
              +'<td id="indexRow'+id+'">'+ nextIndexRow + '</td>';
            /*for(j in data[i]){
              if(j.equal("unit")){

              }
              x += '<td id="unit'+id+'">'+ data[i][j] + '</td>';
            }*/
            x +='<td id="unit'+id+'">'+ data[i]["name"] + '</td>'
              +'<td id="unitType'+id+'">'+ data[i]["type"] + '</td>'
              +'<td id="add'+id+'">'+ data[i]["address"] + '</td>'
              +'<td id="phone'+id+'">'+ data[i]["phone_number"] + '</td>'
              + '<td id="unit'+id+'">'+ data[i]["website"] + '</td>'
            x+='<td>\
                  <button>Sửa</button>\
                  <button>Xoá</button>\
              </td>\
            </tr>';
          }
          x += '</tbody>';
          /*console.log(x);*/
          document.getElementById("table-u").innerHTML = x;
          /*var indexNumRow=parseInt($("table:first tr td:first-child").length)-1;
          var indexNumRow2=document.getElementById("table-u").lastChild.childNodes.length;
          console.log(indexNumRow2);*/
        }
      });
  });
  /*$(document).ajaxError(() => {

  });*/

  var random_id = function  ()
	{
		var id_num = Math.random().toString(9).substr(2,3);
		var id_str = Math.random().toString(36).substr(2);
		return id_num + id_str;
  }

  function insert_row(){
    var nextIndexRow=document.getElementById("table-u").lastChild.childNodes.length;
    /*console.log(nextIndexRow+1);*/
    /*var nextIndexRow2=document.getElementById("table-u").getElementsByTagName("tbody")[0].childNodes-3;
    console.log(nextIndexRow2);*/
    var unit=document.getElementById("new_unit").value;
    var unitType=document.getElementById("new_unitType").value;
    var add=document.getElementById("new_add").value;
    var webAdd=document.getElementById("new_webAdd").value;
    var phone=document.getElementById("new_phone").value;

    var id=random_id();
    var table=document.getElementById("table-u");
    var table_len=(table.rows.length);
    var row = table.insertRow(table_len).outerHTML=
          '<tr id="row'+id+'">'
            +'<td id="indexRow'+id+'">'+(nextIndexRow)+'</td>'
            +'<td id="unit'+id+'">'+unit+'</td>'
            +'<td id="unitType'+id+'">'+unitType+'</td>'
            +'<td id="add'+id+'">'+add+'</td>'
            +'<td id="phone'+id+'">'+phone+'</td>'
            +'<td id="web'+id+'">'+webAdd+'</td>'
            +'<td>\
                <input type="button" value="Sửa" id="edit_button'+id+'" onclick="edit_row('+id +');">'
                +'<input type="button" value="Xóa" id="delete_button'+id+'" onclick="delete_row('+id +');">'
                +'</td></tr>';
          //Reset to ""
          document.getElementById("new_unit").value="";
          document.getElementById("new_unitType").value="";
          document.getElementById("new_add").value="";
          document.getElementById("new_phone").value="";
          document.getElementById("new_webAdd").value=""
    /*$.ajax({
      type:'POST',
      url:'units/',
      dataType: 'json',
      data:{
        command:'insert_row',
        unit_val:unit,
        unitType_val:unitType,
        add_value:add,
        phone_value:phone,
        webAdd_value: webAdd

      },
      success:(data) => {
        if(typeof data.id !== 'undefined'){
          //var id=data.id;
          // ....
        }
      }
      });*/
  }
</script>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main class="main-content">
        <section>
          <div>
              <h1>Đơn vị</h1>
              <!--<h1><button id="addU-id">Thêm mới </button></h1>-->
          </div>
          <div style="overflow-x:auto;" class="unit-table-content">
            <table id="table-u">
              <thead>
                  <tr class="title">
                      <th>Thứ tự</th>
                      <th>Tên đơn vị</th>
                      <th>Loại đơn vị</th>
                      <th>Địa chỉ</th>
                      <th>Điện thoại</th>
                      <th>Website </th>
                      <th>Thao tác</th>
                  </tr>
              </thead>
              <tbody>
                  <tr id="new_row"><td id = "insert_row_o">0</td>
                    <td id = "insert_row"><input type="text" id="new_unit" required=""></td>
                    <td><input type="text" id="new_unitType" required=""></td>
                    <td><input type="text" id="new_add" required=""></td>
                    <td><input type="text" id="new_phone" required=""></td>
                    <td><input type="text" id="new_webAdd" required=""></td>
                    <td><input type="button" value="Thêm mới" onclick="insert_row();"></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </section>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
